{{#if session.isGithubAuthenticated}}
  <div>Your repositories:</div>
  <ul>
    {{#each model as |repo|}}
      <li>
        {{#link-to 'github.repository' session.githubUser.login repo.name}}
          {{repo.fullName}}
        {{/link-to}}
      </li>
    {{else}}
      <li>None found</li>
    {{/each}}
  </ul>
{{/if}}

{{outlet}}
